.site-bar{
    background-color: rgb(221, 71, 164);
    height: 680px;
}
.text-area{
    margin-top: 90px;
}
.dashboard-header{
    background-color: rgb(221, 71, 164);
}
.abc{
    background-color: tomato;
}