.site-bar{
    /* background-image: linear-gradient(to right, rgb(95, 13, 116) , rgba(21, 33, 207, 0.842)); */
    background-color: #b6c8c9;
    height: 680px;
    text-align: left;
   
}
.text-area{
    margin-top: 90px;
    
}
.dashboard-header{
    background-color: #b6c8c9;
}
.abc{
    background-color: tomato;
}
/* .body{
    background-color: aqua;
} */